
<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <table class="table table-bordered table-hover" id="tblEmployees">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Password</th>
                        <th>Gender</th>
                        <th>Mobile</th>
                        <th>Address</th>
                        <th>IsActive</th>
                    </tr>
                </thead>
            </table>
        </div>
    </section>
</div>
<script src="~/js/GetEmployees.js"></script>